In [27]:
import pandas as pd
from datetime import datetime, timedelta

Question 1 :

In [25]:

def fill_value(df):
  return df.groupby('client_id')['value'].transform(pd.Series.fillna, method='ffill')

clients = {"client_id" : [1001, 1001, 1001, 1002, 1002, 1002, 1003, 1003, 1003], "ranking" : [1, 2, 3, 1, 2, 3, 1, 2, 3], "value" : [1000, None, 1200, 1500, 1250, None, 1200, 1100, None]}
df = pd.DataFrame(clients)

# Fill NaN values
df_fill = fill_value(df.copy())

df_fill

0    1000.0
1    1000.0
2    1200.0
3    1500.0
4    1250.0
5    1250.0
6    1200.0
7    1100.0
8    1100.0
Name: value, dtype: float64

Question 2 :

In [28]:
def group_by_week(timestamps):
  weeks = []
  week_start = datetime.strptime(timestamps[0], '%Y-%m-%d')
  current_week = []
  for timestamp in timestamps:
    date = datetime.strptime(timestamp, '%Y-%m-%d')
    # Check if the current timestamp falls within the current week
    if date <= week_start + timedelta(days=6):
      current_week.append(timestamp)
    else:
      weeks.append(current_week)
      current_week = [timestamp]
      week_start = date - timedelta(days=date.weekday())  # Reset week_start
  # Add the last week if any timestamps remain
  if current_week:
    weeks.append(current_week)
  return weeks

# Example usage
timestamps = ['2023-01-01', '2023-01-02', '2023-01-03', '2024-02-01', '2024-02-02', '2024-02-05']
grouped_weeks = group_by_week(timestamps)
grouped_weeks

[['2023-01-01', '2023-01-02', '2023-01-03'],
 ['2024-02-01', '2024-02-02'],
 ['2024-02-05']]

Question 3 :

In [23]:
def filter_transac(transactions, products):
  # Merge transactions and products on product_id to get product prices
  df = transactions.merge(products, on='product_id')

  # Calculate total value per transaction (amount * price)
  df['total_value'] = df['amount'] * df['price']

  # Filter transactions with total value over $100
  filtered_df = df[df['total_value'] > 100]

  return filtered_df

# Sample DataFrames provided
transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}
products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}
df_transac = pd.DataFrame(transactions)
df_prod = pd.DataFrame(products)

# Filter transactions with total value over $100
result = filter_transac(df_transac.copy(), df_prod.copy())

# result
result

   transaction_id  product_id  amount  price  total_value
1               2         102       5   21.0        105.0
2               3         103       8   15.0        120.0
4               5         105       2   52.0        104.0